<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Indicadores de Acciones</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Indicadores de Acciones</h1>
    <table>
        <tr>
            <th>Ticker</th>
            <th>RSI</th>
            <th>sma rsi</th>
            <th>compra rsi</th>
            <th>E20</th>
            <th>E50</th>
            <th>E100</th>
            <th>E200</th>
            <th>S21</th>
            <th>S30</th>
            <th>MACD</th>
        </tr>
        {% for indicador in indicadores %}
        <tr>
            <td>{{ indicador.ticker }}</td>
            <td>{{ indicador.rsi }}</td>
            <td>{{ indicador.sma_rsi }}</td>
            <td>
                {% if indicador.rsi_cruce_arriba_sma %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_ema_20 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_ema_50 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_ema_100 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_ema_200 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_sma_21 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.precio_sma_30 %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
            <td>
                {% if indicador.macd_cruce_arriba_signal %}
                    <span style="color:green;">✔️</span>
                {% else %}
                    <span style="color:red;">X</span>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>
