<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Indicadores de Acciones</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Indicadores de Acciones</h1>
    <table>
        <tr>
            <th>Ticker</th>
            <th>RSI</th>
            <th>RSI < 40</th>
        </tr>
        {% for indicador in indicadores %}
        <tr>
            <td>{{ indicador.ticker }}</td>
            <td>{{ indicador.rsi }}</td>
            <td>{{ indicador.rsi_below_40 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
